<main>
    <section class="login-session">
        <img src="/assets/svg/logo.svg" />
        <h2>{{title}}</h2>
        <div class="content">
            <ng-content></ng-content>
            <button class="login-button">{{primaryBtnText}}</button>
            <div class="divider-container">
                <div class="left-line"> </div>
                <span>OR</span>
                <div class="left-line"></div>
            </div>
            <button class="signup-button">{{secundaryBtnText}}</button>
        </div>
       
    </section>

    <section class="image-session">
        <div class="image-session-box">
            <h1 class="title">You Should, MoveIt</h1>
            <img src="/assets/svg/mainImage.svg" />
        </div>

    </section>
</main>