<main>
    <section class="login-session">
        <img src="/assets/svg/logo.svg" />
        <div class="login-info">

            <h2>Login into your account</h2>
            <p class="text-email">Email Address</p>
            <input placeholder="example@email.com" />
            <p class="text-password">Password</p>
            <input placeholder="Enter your password" />
            <p class="forgot-password">Forgot password?</p>
            <button class="login-button">Login now</button>

        </div>
        <span>OR</span>

        <button class="signup-button">Register now</button>
    </section>

    <section class="image-session">
        <div class="image-session-box">
            <h1 class="title">You Should, MoveIt</h1>
            <img src="/assets/svg/mainImage.svg" />
        </div>

    </section>
</main>