@import "../../../styles/variables.scss";


main{
    display: flex;
    background-color: $main-background-color;
    flex-direction: row;
    font-family: sans-serif

}

section{
    align-items: center;
}

/*---------------------------left side style----------------------------------*/

.login-session{
    display: flex;
    flex-direction: column;
    flex-grow: 0.3;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 10px 0px 13px rgba(201, 196, 196, 0.5);

}


h2{
    text-align: center;
    font-weight: 700;
    font-size: 20px ;
    margin: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.forgot-password{
    text-align: end;
    font-size: 12px;
    color: #0859b6;
    text-decoration: underline;
}


.login-button{
    position: relative;
    background-color: $primary-color;
    box-shadow: 5px 5px 10px rgba(95, 71, 233, 0.5);
    border-radius: 7px;
    color: white;
    margin-top: 8px;
    border: none;
    padding: 10px;
    width: 80%;
 
}

.signup-button{
    position: relative;
    border: 2px, solid, #7001FD ;
    width: 80%;
    padding: 10px;
    background-color: transparent;
    box-shadow: 3px 5px 8px rgba(126, 107, 236, 0.5);
    border-radius: 7px;
    color: #7001FD;

}
.forgot-password, .signup-button, .login-button:hover{
    cursor: pointer;
}

.login-button:active{
    transform: scale(1.02);
    
}

.divider-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-line, .right-line{
    width: 100%;
    height: 1.5px;
    background-color: $main-background-color;
}


span{
    text-align: center;
    margin: 15PX;
    font-size: 10PX;
    font-weight: 400;
    color: #C2C2C2;
}



.signup-button:active{
    transform: scale(1.02);
}



/*---------------------------Right side style----------------------------------*/

.image-session{
    display: flex;
    flex-direction: column;
    flex-grow: 1.7;
    justify-content: center;
    height: 100vh;
}

h1{
    color: #000000;
    font-weight: 500;
}

.image-session-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

